# Environment
NODE_ENV=development

# Server
PORT=8080

# ArangoDB Configuration
ARANGO_URL=http://localhost:8529
ARANGO_DB=AIR
ARANGO_USER=root
ARANGO_PASSWORD=root

#Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

#Queue configuration
QUEUE_NAME=flightBookings
QUEUE_HOST_ID=Flight Booking Redis